@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	color: #ffffff;
	background-color: #0b1917;
}

a {
	cursor: pointer;
}
