.bg-hero {
	background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
		url('../../public/images/hero/hero-bg.jpg');
	background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
		image-set(
			url('../../public/images/hero/hero-bg@2x.webp') 2x,
			url('../../public/images/hero/hero-bg.webp') 1x,
			url('../../public/images/hero/hero-bg@2x.jpg') 2x,
			url('../../public/images/hero/hero-bg.jpg') 1x
		);
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-about {
	background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
		url('../../public/images/about/about-bg.jpg');
	background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
		image-set(
			url('../../public/images/about/about-bg@2x.webp') 2x,
			url('../../public/images/about/about-bg.webp') 1x,
			url('../../public/images/about/about-bg@2x.jpg') 2x,
			url('../../public/images/about/about-bg.jpg') 1x
		);
	background-repeat: no-repeat;
	background-size: cover;
}
