.bg-hero {
	background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
		url('../../public/images/hero/hero-bg.jpg');
	background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
		image-set(
			url('../../public/images/hero/hero-bg@2x.webp') 2x,
			url('../../public/images/hero/hero-bg.webp') 1x,
			url('../../public/images/hero/hero-bg@2x.jpg') 2x,
			url('../../public/images/hero/hero-bg.jpg') 1x
		);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.bg-about {
	background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
		url('../../public/images/about/about-bg.jpg');
	background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
		image-set(
			url('../../public/images/about/about-bg@2x.webp') 2x,
			url('../../public/images/about/about-bg.webp') 1x,
			url('../../public/images/about/about-bg@2x.jpg') 2x,
			url('../../public/images/about/about-bg.jpg') 1x
		);
	background-repeat: no-repeat;
	background-position: 20% 100%;
	background-size: cover;
}
@media screen and (min-width: 460px) {
	.bg-about {
		background-position: 15% 100%;
	}
}
@media screen and (min-width: 1200px) {
	.bg-about {
		background-position: 0 100%;
	}
}
.bg-services {
	background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
		url('../../public/images/services/services-bg.jpg');
	background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
		image-set(
			url('../../public/images/services/services-bg@2x.webp') 2x,
			url('../../public/images/services/services-bg.webp') 1x,
			url('../../public/images/services/services-bg@2x.jpg') 2x,
			url('../../public/images/services/services-bg.jpg') 1x
		);
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-career {
	background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
		url('../../public/images/career/career-bg.jpg');
	background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
		image-set(
			url('../../public/images/career/career-bg@2x.webp') 2x,
			url('../../public/images/career/career-bg.webp') 1x,
			url('../../public/images/career/career-bg@2x.jpg') 2x,
			url('../../public/images/career/career-bg.jpg') 1x
		);
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-gallery {
	background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
		url('../../public/images/gallery/gallery-bg.jpg');
	background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
		image-set(
			url('../../public/images/gallery/gallery-bg@2x.webp') 2x,
			url('../../public/images/gallery/gallery-bg.webp') 1x,
			url('../../public/images/gallery/gallery-bg@2x.jpg') 2x,
			url('../../public/images/gallery/gallery-bg.jpg') 1x
		);
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-contacts {
	background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
		url('../../public/images/contacts/contacts-bg.jpg');
	background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
		image-set(
			url('../../public/images/contacts/contacts-bg@2x.webp') 2x,
			url('../../public/images/contacts/contacts-bg.webp') 1x,
			url('../../public/images/contacts/contacts-bg@2x.jpg') 2x,
			url('../../public/images/contacts/contacts-bg.jpg') 1x
		);
	background-repeat: no-repeat;
	background-size: cover;
}
